<div class="header">
  <h1>PROYECTO EFT V</h1>
</div>

<nav>
  <ul>
    <li><a routerLink="listarAlumnos" routerLinkActive="active-link">Alumnos</a></li>
    <li><a routerLink="listarProfesores" routerLinkActive="active-link">Profesores</a></li>
    <li><a routerLink="buscarCursos" routerLinkActive="active-link">Cursos</a></li>
    <li><a routerLink="listarGrados" routerLinkActive="active-link">Grados</a></li>
    <li><a routerLink="listarHorario" routerLinkActive="active-link">Horario</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>